<img src="http://2.cdn.nhle.com/photos/mugs/<%= @player.nhl_id %>.jpg" />
<h1><%= @player.name %></h1>
<p class="lead">
	<%= @player.position %> |
	<%= @player.team_abbreviation %> |
	<%= @player.sweater %>
</p>