<div class="player-overview">
	<div class="name">
		<h1><a class="no-style" href="/players/<%= player.nhl_id %>"><%= "#{player.name}" %></a></h1>
		<p class="lead">
			<%= player.position %> |
			<%= player.team %> |
			<%= player.sweater %>
		</p>
	</div>
</div>