<div class="container">
	<%= partial :'players/player_header', locals: { player: @player } %>

	<h3>Stats</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Game</th>
				<th>Date</th>
				<th>Opponent</th>
				<th>Goals Allowed</th>
				<th>Shots</th>
				<th>GAA</th>
				<th>Save Pct</th>
				<th>Time on Ice</th>
			</tr>
		</thead>

		<tbody>
			<% @player.goalie_stats.each do |stat| %>
				<tr>
					<td><%= stat.game_id %></td>
					<td><%= Game.find(stat.game_id).game_time.to_date %></td>
					<td><%= stat.opponent %></td>
					<td><%= stat.goals_against %></td>
					<td><%= stat.shots_faced %></td>
					<td><%= stat.goals_against_average %></td>
					<td><%= stat.save_percentage %></td>
					<td><%= stat.time_on_ice %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<h3>Save Percentages</h3>
	<%= @player.goalie_totals.save_percentage %>
	<h3>Wins</h3>
	<%= @player.goalie_totals.wins %>
</div>