<div class="container">
	<div class="row">
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: 15495, text: 'Stat records' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: 700, text: 'Players' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: 700, text: 'Goalies' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: 600, text: 'Game stats' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: 700, text: 'Individual stats' } %>
		</div>
		<div class="col-md-2">
			<%= partial :'layouts/statistic', locals: {number: 9001, text: 'Database entries' } %>
		</div>
	</div>
</div>