<div class="container">
	<div class="row">
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: SkaterStat.count, text: 'Stat records' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: Player.where(player_type: 'S').count, text: 'Players' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: Player.where(player_type: 'G').count, text: 'Goalies' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: Game.count, text: 'Game stats' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: Team.count, text: 'Teams' } %>
		</div>
		<div class="col-md-2">
			<%= partial :'layouts/statistic', locals: {number: 700, text: 'Individual stats' } %>
		</div>
	</div>
</div>