<div class="container">
	<div class="row">
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: skater_stats, text: 'Stat records' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: players, text: 'Players' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: goalies, text: 'Goalies' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: games, text: 'Game stats' } %>
		</div>
		<div class="col-md-2" style="border-right: 1px solid #ccc;">
			<%= partial :'layouts/statistic', locals: {number: teams, text: 'Teams' } %>
		</div>
		<div class="col-md-2">
			<%= partial :'layouts/statistic', locals: {number: 700, text: 'Individual stats' } %>
		</div>
	</div>
</div>