<div class="jumbotron slim">
	<div class="container">
		<h1>
			<img src="http://cdn.nhle.com/nhl/images/logos/teams/<%= @team.light_logo_name.downcase %>_logo.png">
			<%= "#{@team.city} #{@team.name}" %>
		</h1>
	</div>
</div>
<div class="container">

	<canvas id="team_line" width="100%" height="50px"></canvas>

	<select id="change_data" class="form-control">
		<option value="points">Points</option>
		<option value="goals">Goals</option>
		<option value="shots">Shots</option>
		<option value="blocks">Blocks</option>
		<option value="pim">Penalties in Minutes</option>
		<option value="hits">Hits</option>
		<option value="giveaways">Giveaways</option>
		<option value="takeaways">Takeaways</option>
	</select>

	<h1>Roster</h1>
	<% @team.players.sort_by { |player| player.sweater }.each do |player| %>
		<div class="col-md-6">
			<%= partial :'players/player_overview', locals: { player: player } %>
		</div>
	<% end %>
</div>

<% initial_data = @team.points_over_time %>

<script type="text/javascript">

	$(document).ready(function() {
		// edit global settings
		Chart.defaults.global.responsive = true;
		Chart.defaults.global.scaleFontFamily = "'Lato', sans-serif";
		Chart.defaults.global.scaleFontSize = 16;
		Chart.defaults.global.scaleFontColor = '#999';
		Chart.defaults.global.tooltipFontFamily = "'Lato', sans-serif";
		
		// POINTS OVER TIME CHART
		var line_context = $('#team_line').get(0).getContext('2d');

		var line_data = {

			labels: <%= initial_data.map { |pair| pair[0] } %>,

			datasets: [
				{
					label: '<%= @team.name %>',
					fillColor: "rgba(151,187,205,0.2)",
					strokeColor: "rgba(151,187,205,1)",
					pointColor: "rgba(151,187,205,1)",
					pointStrokeColor: "#fff",
					pointHighlightFill: "#fff",
					pointHighlightStroke: "rgba(151,187,205,1)",
					data: <%= initial_data.map { |pair| pair[1] } %>
				}
			]
		}

		var line_chart = new Chart(line_context).Line(line_data, {});

		$('#change_data').on('change', function( event ) {

			$.ajax({
				url: '/api/teams/<%= @team.id %>/stats/time/' + event.currentTarget.value,
			}).done(function( data ) {
				
				line_chart.destroy();

				var new_data = {

					labels: data.games,

					datasets: [
						{
							label: '<%= @team.name %>',
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							data: data.data
						}
					]
				}

				line_chart = new Chart(line_context).Line(new_data, {});

			});
		});
	});

</script>