<!DOCTYPE html>
<html>
	<head>
		<title>Sexy NHL Stats</title>
		<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:400,700,300' />
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="<%= url('/assets/css/global.css') %>" />
		<link rel="shortcut icon" type="image/png" href="/public/assets/images/favicon.ico" />

		<script src="<%= url('/assets/js/jquery.js') %>"></script>
		<script src="<%= url('/assets/js/modernizr.js') %>"></script>
		<script src="<%= url('/assets/js/Chart.min.js') %>"></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<%= partial :'layouts/top_navbar' %>

		<%= yield %>

		<%= partial :'layouts/footer' %>
	</body>
</html>